@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp

<h5>Lista kaikista matkoista, lukumäärä: @trips</h5>
<div id="grouptriplist-razor" class="left">
	@if (list != null)
	{
		@foreach (TripDTO t in list)
		{
			<TripItem Trip="@t">
				<ul id="@($"privateitem-{t.Private.ToString()}-{t.DatumStart.Value.ToString("yyyy-MM-dd")}-{t.DatumEnd.Value.ToString("yyyy-MM-dd")}")" class="list-item">
					<li><b>Matkan alku:</b> @t.DatumStart.Value.ToString("yyyy-MM-dd")</li>
					<li><b>Matkan loppu:</b> @t.DatumEnd.Value.ToString("yyyy-MM-dd")</li>
					<br />
					<StoryList tripId="@t.TripId" GroupList=true />
				</ul>
			</TripItem>
			<br />
		}
	}
</div>
@code {
	[Parameter]
	public string? id { get; set; }

	private int trips = 0;
	private List<TripDTO>? list = null;

	protected override async Task OnInitializedAsync()
	{
		//Get list of all public trips
		list = await Http.GetFromJsonAsync<List<TripDTO>>($"/api/trip/");
		if (list != null) trips = list.Count;
	}
}
