@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp
@inject NavigationManager nav

<div class="left">
	<h5>List of your trips, current count: @trips</h5>

	@if (list != null)
	{
		@foreach (TripDTO t in list)
		{
			<TripItem TripDTO="@t">
				<ul class="list-item">
					<li>Trip start: @t.DatumStart.Value.ToString("yyyy-MM-dd")</li>
					<li>Trip end: @t.DatumEnd.Value.ToString("yyyy-MM-dd")</li>
					<br />
					<button class="btn btn-warning" @onclick='()=>nav.NavigateTo($"/trip/edit/{t.TripId}")'>Edit trip</button>
					<StoryList tripId="@t.TripId" userId="@id" />
				</ul>
			</TripItem>
			<br />
		}
	}
</div>
@code {
	[Parameter]
	public string? id { get; set; }

	private int trips = 0;
	private List<TripDTO>? list = null;

	protected override async Task OnInitializedAsync()
	{
		//Get list of all own trips with user id
		list = await Http.GetFromJsonAsync<List<TripDTO>>($"/api/trip/traveller/{id}");
		if (list != null) trips = list.Count;
	}
}
