@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp
@inject NavigationManager nav


@if (list != null)
{
	if (list.Count != 0)
	{
		<button id="togglevisibility-story" class="btn btn-success" @onclick=@ShowStories>Show or hide trip stories</button>
		if (showStories)
		{
			@foreach (StoryDTO s in list)
			{
				<br />
				<StoryItem Story="@s">
					<ul id="story-ul-list" class="list-item">
						<li><b>Date:</b> @s.Datum.ToString("yyyy-MM-dd")</li>
						<DestinationInfo destinationId=@s.DestinationId />
						<li><b>Story:</b> @s.Description</li>
						@if (UserId != null)
						{
							<button id="editStoryButton" class="btn btn-warning" @onclick='()=>nav.NavigateTo($"/story/edit/{s.StoryId}")'>Edit story</button>
						}
						<StoryPictureList StoryId=@s.StoryId GroupList=@GroupList />
					</ul>
					<br />
				</StoryItem>
			}
		}
		else
		{
			<br />
			<h6>Trip story count: @stories</h6>
		}
	}
	else
	{
		<br />
		<h6>Trip story count: @stories</h6>
	}
}
else
{
	<br />
	<h6>No stories could be fetched</h6>
}

@code {
	[Parameter]
	public int? TripId { get; set; }
	[Parameter]
	public string? UserId { get; set; }
	[Parameter]
	public bool GroupList { get; set; }

	private int stories = 0;
	private List<StoryDTO>? list = null;
	private bool showStories = false;


	protected override async Task OnInitializedAsync()
	{
		//Get list stories for a Trip
		list = await Http.GetFromJsonAsync<List<StoryDTO>>($"/api/story/trip/{TripId}");
		if (list != null) stories = list.Count;
	}


	void ShowStories()
	{
		if (!showStories) showStories = true;
		else showStories = false;
	}

}
