@page "/trip/edit/{TripId:int}"
@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider asp
@inject NavigationManager nav

<h1>Edit trip</h1>

<div class="left">
    @if (@tDTO != null)
    {
        <EditTrip>
            <EditForm Model="@tDTO" OnValidSubmit="@Save">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <label>Start date:</label>
                <br />
                <InputDate @bind-Value="tDTO.DatumStart" />
                <br /> <br />
                <label>End date:</label>
                <br />
                <InputDate @bind-Value="tDTO.DatumEnd" />
                <br /> <br />
                <label>Check the box if trip is private: </label>
                <InputCheckbox @bind-Value="tDTO.Private" />
                <br /><br />
                <p>NOTE: Deleting the trip will also delete all the stories and pictures attached to it!!!</p>
                <br />
                <button class="btn btn-success" @onclick='()=>nav.NavigateTo($"/trips")'>Back to trips</button>
                <button type="submit" class="btn btn-warning">Save Changes</button>
                <button class="btn btn-danger" @onclick="@Delete">Delete</button>
                <br /><br/>
            </EditForm>
        </EditTrip>
        <br /><br/>
    }
    @if (edited)
    {
        <div class="alert alert-success fade-in" role="alert">
            Trip was edited successfully!
        </div>
    }
    @if (failed)
    {
        <div class="alert alert-danger fade-in" role="alert">
            This is a failed alert—check it out!
        </div>
    }

</div>
<div class="right">
    <StoryAdd TripId="@TripId" />
</div
<div class="left">


    <!--TODO UserId Should also be passed to StoryList, but how to pass it sensibly to this page?-->


    <StoryList TripId="@TripId" UserId="@userId" />
</div>




@code {
    [Parameter]
    public int TripId { get; set; }

    public string? userId = null;
    public TripDTO? tDTO = new();
    public bool edited = false;
    public bool failed = false;



    protected override async Task OnInitializedAsync()
    {
        //Get the trip to edit
        tDTO = await Http.GetFromJsonAsync<TripDTO>($"/api/trip/{TripId}");
        
		//Assing name to variable for future operations
		var authState = await asp.GetAuthenticationStateAsync();
		string? name = authState.User.Identity.Name;

        if (name != null)
        {
            //Fetch user data from API via POST operation
            var res = await Http.PostAsJsonAsync<UserDTO>($"/api/traveller/id", new UserDTO(name));
            //Parse user data from API
            var userDTO = await res.Content.ReadFromJsonAsync<UserDTO>();
            userId = userDTO.Id;
        }
    }

    async Task Save()
    {
        tDTO.TripId = TripId;
        //post a new trip
        var res = await Http.PutAsJsonAsync<TripDTO>($"/api/trip/{TripId}", tDTO);
        if (res.IsSuccessStatusCode)
        {
            edited = true;
            Console.WriteLine(res);
        }
        else
        {
            failed = true;
            Console.WriteLine(res);
        }
        StateHasChanged();
    }

    async Task Delete()
    {
        List<Story> storyList = await Http.GetFromJsonAsync<List<Story>>($"/api/story/trip/{TripId}");
        foreach (Story story in storyList)
        {
            var picres = await Http.DeleteAsync($"/api/picture/story/{story.StoryId}");
            if (picres.IsSuccessStatusCode)
            {
                Console.WriteLine(picres);
            }
            else
            {
                failed = true;
                Console.WriteLine(picres);
            }
        }
        var res = await Http.DeleteAsync($"/api/trip/{TripId}");
        if (res.IsSuccessStatusCode)
        {
            Console.WriteLine(res);
            nav.NavigateTo($"/trips");
        }
        else
        {
            failed = true;
            Console.WriteLine(res);
        }
    }
}
