@page "/travellerlist"
@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http


<PageTitle>Jäsenet</PageTitle>

<h1>Jäsenet</h1>

<p role="status">Tällä sivustolla näet kaikki rekisteröityneet jäsenet. Heitä yhteensä: @count</p>

@if (list != null)
{
	<div id ="traveller-listing-razor">
		@foreach (Traveller t in list)
		{
			<TravellerItem Traveller="@t">
				<div id="traveller-listing-item-@t.Nickname" class="list-item">
					<ul>
						<li><b>Etunimi:</b> @t.Forename</li>
						<li><b>Sukunimi:</b> @t.Surname</li>
						<li><b>Nimimerkki:</b> @t.Nickname</li>
						<li><b>Paikkakunta:</b> @t.Municipality</li>
						<li><b>Kuvaus:</b> @t.Description</li>
					</ul>
					<img src="data:image/png;base64,@t.Image" style="max-width:70%" />
				</div>
			</TravellerItem>
			<br />
			<hr />
			<br />
		}
	</div>
}


@code {
	private int count = 0;

	private List<Traveller>? list = null;
	protected override async Task OnInitializedAsync()
	{
		list = await Http.GetFromJsonAsync<List<Traveller>>($"/api/traveller");
		if (list != null) count = list.Count;
	}

}
