@page "/travellerlist"
@using MatkakertomusGroupB.Shared.Models;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MatkakertomusGroupB.Shared
@attribute [Authorize]
@inject HttpClient Http


<PageTitle>Traveller List</PageTitle>

<h1>Traveller List</h1>

<p role="status">Here you can see all registered travellers, current count: @count</p>

@if (list != null)
{
	<div id ="traveller-listing-razor">
		@foreach (Traveller t in list)
		{
			<TravellerItem Traveller="@t">
				<div id="traveller-listing-item-@t.Nickname" class="list-item">
					<ul>
						<li><b>First name:</b> @t.Forename</li>
						<li><b>Last name:</b> @t.Surname</li>
						<li><b>Nickname:</b> @t.Nickname</li>
						<li><b>Municipality:</b> @t.Municipality</li>
						<li><b>Description:</b> @t.Description</li>
					</ul>
					<img src="data:image/png;base64,@t.Image" style="max-width:70%" />
				</div>
			</TravellerItem>
			<br />
			<hr />
			<br />
		}
	</div>
}


@code {
	private int count = 0;

	private List<Traveller>? list = null;
	protected override async Task OnInitializedAsync()
	{
		list = await Http.GetFromJsonAsync<List<Traveller>>($"/api/traveller");
		if (list != null) count = list.Count;
	}

}
